@business-platform:always-auth=true
@business-platform:registry=https://pkgs.dev.azure.com/digital-office/business-platform/_packaging/business-platform-libs/npm/registry

@randondigital:always-auth=true
@randondigital:registry=https://pkgs.dev.azure.com/digital-office/digital-office/_packaging/randondigital-npm/npm/registry

engine-strict=true
registry=https://registry.npmjs.org
